version: "3.8"

services:
    api:
        expose:
            - "8080"
        build:
            context: .
            dockerfile: Dockerfile
        networks:
            - monitoring

    caddy:
        image: caddy:latest
        ports:
            - "8081:8081"
        volumes:
            - ./Caddyfile:/etc/caddy/Caddyfile
        networks:
            - monitoring
    # Can't make this work with bun
    # prometheus:
    #     image: prom/prometheus
    #     container_name: prometheus
    #     ports:
    #         - "9090:9090"
    #     volumes:
    #         - ./prometheus.yml:/etc/prometheus/prometheus.yml
    #     networks:
    #         - monitoring
    # nginx:
    #     image: nginx:latest
    #     volumes:
    #         - ./nginx.conf:/etc/nginx/conf.d/default.conf
    #     ports:
    #         - "8081:8081"
    #     depends_on:
    #         - api

networks:
    monitoring:
