version: "3.8"

# networks:
#     app-network:
#         ipam:
#             config:
#                 - subnet: 172.28.0.0/16

services:
    api:
        # networks:
        #     app-network:
        #         ipv4_address: 172.28.1.2
        build:
            context: .
            dockerfile: Dockerfile
        expose:
            - 8080

    nginx:
        image: nginx:latest
        # networks:
        #     app-network:
        #         ipv4_address: 172.28.1.3
        volumes:
            - ./nginx.conf:/etc/nginx/conf.d/default.conf
            # - ./wait-for-it.sh:/wait-for-it.sh # Mount the script inside the container
        # command: ./wait-for-it.sh api:8081 -t 15 -- nginx -g "daemon off;"
        ports:
            - "8081:8081"
        depends_on:
            - api
